<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>

  <form phx-change="suggest" phx-submit="search">
    <input type="text" name="q" value="<%= @query %>" placeholder="Live dependency search" list="results" autocomplete="off"/>
    <datalist id="results">
      <%= for {app, _vsn} <- @results do %>
        <option value="<%= app %>"><%= app %></option>
      <% end %>
    </datalist>
    <button type="submit" phx-disable-with="Searching...">Go to Hexdocs</button>
  </form>
</section>

<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li>
        <a href="https://hexdocs.pm/phoenix/overview.html">Guides &amp; Docs</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix">Source</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix/blob/v1.5/CHANGELOG.md">v1.5 Changelog</a>
      </li>
    </ul>
  </article>
  <article class="column">
    <h2>Help</h2>
    <ul>
      <li>
        <a href="https://elixirforum.com/c/phoenix-forum">Forum</a>
      </li>
      <li>
        <a href="https://webchat.freenode.net/?channels=elixir-lang">#elixir-lang on Freenode IRC</a>
      </li>
      <li>
        <a href="https://twitter.com/elixirphoenix">Twitter @elixirphoenix</a>
      </li>
      <li>
        <a href="https://elixir-slackin.herokuapp.com/">Elixir on Slack</a>
      </li>
    </ul>
  </article>
</section>
 <ul class="examples">
      <li>
        <%= live_redirect "Light",
            to: Routes.live_path(@socket, LiveviewTestWeb.LightLive) %>
      </li>
      <li>
        <%= live_redirect "Team License",
            to: Routes.live_path(@socket, LiveviewTestWeb.LicenseLive) %>
      </li>
      <li>
        <%= live_redirect "Sales Dashboard",
          to: Routes.live_path(@socket, LiveviewTestWeb.SalesDashboardLive) %>
      </li>
      <li>
        <%= live_redirect "Search",
          to: Routes.live_path(@socket, LiveviewTestWeb.SearchLive) %>
      </li>
      <li>
        <%= live_redirect "Autocomplete",
          to: Routes.live_path(@socket, LiveviewTestWeb.AutoCompleteLive) %>
      </li>
      <li>
        <%= live_redirect "Flight",
          to: Routes.live_path(@socket, LiveviewTestWeb.FlightLive) %>
      </li>
      <li>
        <%= live_redirect "Filter",
          to: Routes.live_path(@socket, LiveviewTestWeb.FilterLive) %>
      </li>
      <li>
        <%= live_redirect "Servers",
          to: Routes.live_path(@socket, LiveviewTestWeb.ServersLive) %>
      </li>
    </ul>
