<h1>🚙 Vehicles 🚘</h1>
<div id="vehicles">
    <form phx-change="select-per-page">
        Show
        <select name="per-page">
            <%= options_for_select([5,10,15,20], @options.per_page) %>
        </select>
        <label for="per-page">per page</label>
    </form>
    <div class="wrapper">
        <table>
            <thead>
                <tr>
                    <th>
                        <%= sort_link(
                            @socket,
                            "ID",
                            :id,
                            @options
                        ) %>
                    </th>
                    <th>
                        <%= sort_link(
                            @socket,
                            "Make",
                            :make,
                            @options
                        ) %>
                    </th>
                    <th>
                        <%= sort_link(
                            @socket,
                            "Model",
                            :model,
                            @options
                        ) %>
                    </th>
                    <th>
                        <%= sort_link(
                            @socket,
                            "Color",
                            :color,
                            @options
                        ) %>
                    </th>
                </tr>
            </thead>
            <tbody>
                <%= for vehicle <- @vehicles do %>
                  <tr>
                    <td>
                        <%= vehicle.id %>
                    </td>
                    <td>
                        <%= vehicle.make %>
                    </td>
                    <td>
                        <%= vehicle.model %>
                    </td>
                    <td>
                        <%= vehicle.color %>
                    </td>
                  </tr>
                <% end %>
            </tbody>
        </table>
        <div class="footer">
            <div class="pagination">
                <%= if @options.page > 1 do %>
                    <%= live_pagination(
                        @socket,
                        "Previous",
                        @options.page - 1,
                        @options,
                        "previous"
                    ) %>
                <% end %>
                <%= for i <- (@options.page - 2)..(@options.page + 2), round(@total_vehicles / @options.per_page) >= i and i > 0 do %>
                <%= live_pagination(
                        @socket,
                        i,
                        i,
                        @options,
                        (if i == @options.page, do: "active")
                    ) %>
                <% end %>
                <%= if @options.page < round(@total_vehicles / @options.per_page) do %>
                  <%= live_pagination(
                        @socket,
                        "Next",
                        @options.page + 1,
                        @options,
                        "next"
                    ) %>
                <% end %>
            </div>
        </div>
    </div>
</div>
